<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head.ejs") %>
    <title>Anigram • Edit Profile</title>
    <link rel="stylesheet" href="/css/card.css" />
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <div class="right-side">
      <div class="card">
        <div class="upper">
          <h3>Edit your profile</h3>
          <p>Username: <%= data.name %></p>
        </div>
        <div class="lower">
          <form method="POST" action="/ig/<%= data.name %>">
            <label for="profile">Profile Picture</label>
            <input
              type="text"
              name="profile"
              id="profile"
              placeholder="Enter image link"
              value="<%= data.profile %>"
              required
            />

            <label for="bio_line1">Name:</label>
            <input
              type="text"
              name="bio_line1"
              id="bio_line1"
              placeholder="Enter name"
              value="<%= data.bio.line1 %>"
              required
            />

            <label for="bio_line2">Bio Line 1:</label>
            <input
              type="text"
              name="bio_line2"
              id="bio_line2"
              placeholder="Enter line 2"
              value="<%= data.bio.line2 %>"
              required
            />

            <label for="bio_line3">Bio Line 2:</label>
            <input
              type="text"
              name="bio_line3"
              id="bio_line3"
              placeholder="Enter line 3"
              value="<%= data.bio.line3 %>"
              required
            />

            <label for="bio_line4">Bio Line 3:</label>
            <input
              type="text"
              name="bio_line4"
              id="bio_line4"
              placeholder="Enter line 4"
              value="<%= data.bio.line4 %>"
              required
            />

            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
