<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <title>Animalgram . Home</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <%- include('navigation.ejs') %>
    <div class="main-area">
      <div class="stories">
        <% Object.keys(data).forEach(animalKey => { %>
        <a href="/ig/<%= animalKey %>" class="story">
          <img
            src="<%= data[animalKey].profile %>"
            alt="<%= data[animalKey].name %>"
          />
          <p><%= data[animalKey].name %></p>
        </a>
        <% }); %>
      </div>
      <div class="content-area">
        <div class="main-content">
          <div class="content content1">
            <div class="post">
              <div class="user-info">
                <div class="pic-name-location">
                  <a href="/ig/dog" class="post-link">
                    <img
                      src="https://plus.unsplash.com/premium_photo-1664303028333-80fef943aea5?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                      onerror="this.hidden = true"
                      id="profileImg"
                    />
                  </a>
                  <div class="userData">
                    <p class="userId">Beerry123</p>
                    <p class="location">California</p>
                  </div>
                </div>
                <div class="followBtn">
                  <button class="button-23" role="button">Follow</button>
                </div>
              </div>
              <div class="mainImage">
                <img
                  src="https://images.unsplash.com/photo-1452441271666-5d998aa2f6cc?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  onerror="this.hidden = true"
                  id="mainImg"
                />
              </div>
              <div class="interactions">
                <div class="like">
                  <i class="fa-regular fa-heart" id="lkicon"></i>
                  <p class="lkcount">
                    <%= Math.floor(Math.random() * 500) + 50 %>
                  </p>
                </div>
                <div class="comment">
                  <i class="fa-regular fa-comment"></i>
                  <p class="cmtcount">
                    <%= Math.floor(Math.random() * 150) + 10 %>
                  </p>
                </div>
                <div class="share">
                  <i class="fa-solid fa-share"></i>
                  <p class="shrcount">
                    <%= Math.floor(Math.random() * 50) + 3 %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% const posts = [ { userId: "Speed123", location: "London", animal:
          "horse", mainImg:
          "https://plus.unsplash.com/premium_photo-1664116707774-8704597dd3f0?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
          profileImg:
          "https://images.unsplash.com/photo-1582438936689-2c109222b7f9?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          }, { userId: "Jhunu123", location: "India", animal: "hen", mainImg:
          "https://images.unsplash.com/photo-1723546975429-b991be87c443?q=80&w=2948&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
          profileImg:
          "https://images.unsplash.com/photo-1471623817296-aa07ae5c9f47?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          }, { userId: "Jack123", location: "Tokyo",animal: "cat", mainImg:
          "https://images.unsplash.com/photo-1472491235688-bdc81a63246e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
          profileImg:
          "https://images.unsplash.com/photo-1645307472863-131c304b7bfc?q=80&w=2860&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          } ]; %> <% posts.forEach(post => { %>
          <div class="content">
            <div class="post">
              <div class="user-info">
                <div class="pic-name-location">
                  <a href="/ig/<%= post.animal %>">
                    <img
                      src="<%= post.profileImg %>"
                      onerror="this.hidden = true"
                      id="profileImg"
                    />
                  </a>
                  <div class="userData">
                    <p class="userId"><%= post.userId %></p>
                    <p class="location"><%= post.location %></p>
                  </div>
                </div>
                <div class="followBtn">
                  <button class="button-23" role="button">Follow</button>
                </div>
              </div>
              <div class="mainImage">
                <img
                  src="<%= post.mainImg %>"
                  onerror="this.hidden = true"
                  id="mainImg"
                />
              </div>
              <div class="interactions">
                <div class="like">
                  <i class="fa-regular fa-heart" id="lkicon"></i>
                  <p class="lkcount">
                    <%= Math.floor(Math.random() * 500) + 50 %>
                  </p>
                </div>
                <div class="comment">
                  <i class="fa-regular fa-comment"></i>
                  <p class="cmtcount">
                    <%= Math.floor(Math.random() * 150) + 10 %>
                  </p>
                </div>
                <div class="share">
                  <i class="fa-solid fa-share"></i>
                  <p class="shrcount">
                    <%= Math.floor(Math.random() * 50) + 3 %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
    <div class="suggestion">
      <div class="text">
        <p class="sugg">Suggested for you</p>
        <p class="see">See all</p>
      </div>
      <div class="suggrows">
        <% Object.keys(data).forEach(animalKey => { %>
        <div class="row">
          <a href="/ig/<%= animalKey %>">
            <img
              src="<%= data[animalKey].profile %>"
              alt="<%= data[animalKey].name %>"
              class="rowImg"
            />
          </a>
          <div class="bound">
            <p class="name"><%= data[animalKey].name %></p>
            <p>Followed by Jack123</p>
          </div>
          <p class="follow">Follow</p>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
