<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Anigram . @<%=data.name%></title>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/css/insta.css" />
  </head>
  <body>
    <%- include('includes/navigation.ejs') %>
    <div class="right-side">
      <div class="top-bar">
        <div class="profile-img">
          <div class="img">
            <img src="<%= data.profile %>" alt="No Found" />
          </div>
        </div>
        <div class="section">
          <div class="section1">
            <span>@<%=data.name%></span>
            <button class="follow-btn">Follow</button>
            <button>Message</button>
          </div>
          <div class="section2">
            <p>
              Followers : <%= data.followers %> &nbsp;&nbsp;&nbsp;&nbsp;
              Following : <%= data.following %>
            </p>
          </div>
          <div class="section3">
            <p><%=data.bio.line1%></p>
            <p><%=data.bio.line2%></p>
            <p><%=data.bio.line3%></p>
            <p><%=data.bio.line4%></p>
          </div>
        </div>
      </div>
      <div class="down-bar">
        <% for (let post of data.posts) { %>
        <a href="/ig/posts/<%= post.id %>">
          <div class="post">
            <img src="<%= post.image %>" alt="Post Image" />
            <div class="post-details">
              <p>
                <i class="fa-regular fa-heart"></i> : <%= post.likes %>
                &nbsp;&nbsp; <i class="fa-regular fa-comment"></i> : <%=
                post.comments %>
              </p>
            </div>
          </div>
        </a>
        <% } %>
      </div>
    </div>

    <script src="/js/app.js"></script>
  </body>
</html>
