<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <title>Anigram . Post</title>
    <link rel="stylesheet" href="/css/post.css" />
  </head>
  <body>
    <%- include('includes/navigation.ejs') %>
    <div class="right-side">
      <div class="post-container">
        <div class="image">
          <img src="<%= post.image %>"
          onerror="this.hidden = true" />
        </div>
        <div class="post-details">
          <p>
            <i class="fa-regular fa-heart"></i>  <%= post.likes %> 
            <i class="fa-regular fa-comment"></i>  <%= post.comments %>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
